body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Trap-SemiBold;
  src: url("assets/Trap_Font_Family/Trap-SemiBold600.otf");
}
.left-bg-img {
  background-image: url(../img/graphics-login-web.jpg);
  background-size: cover;
  min-height: 100vh;
  padding: 45px 35px 90px;
}

.img-text {
  position: relative;
  overflow: hidden;
}

.img-text a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.side-text {
  position: absolute;
  top: 45%;
}

.side-text h3 {
  font-family: Trap, Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 5.5375rem;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: #E2F3FF;
  mix-blend-mode: overlay;
  padding-bottom: 52px;
}

.side-text h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #55BBFF;
  padding-bottom: 249px;
}

.side-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #FFFFFF;
}

.pt-50 {
  padding-top: 50px;
}

.right-form {
  padding: 50px 40px;
  position: relative;
}
.right-form .form-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
.right-form p {
  font-family: "Poppins";
  line-height: 24px;
  color: #768B9A;
}

.form-control {
  font-size: 0.875rem;
  color: #93A7B4;
}

.form-label {
  font-size: 0.75rem;
  color: #768B9A;
}

.form-select {
  font-size: 0.875rem;
}

.acknowledge {
  font-size: 0.75rem;
}

.btn-submit {
  padding: 10px 20px;
  background: #0099FF;
  border-radius: 50px;
  width: 100%;
  color: #FFFFFF;
  border: none;
}

.btn-submit:hover {
  padding: 10px 20px;
  width: 100%;
  background: #3033d1;
  border-radius: 50px;
  color: #fff;
}

.btn-submit2 {
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  color: #0099FF;
  border: 1px solid #0099FF;
}

.btn-submit2:hover {
  padding: 10px 20px;
  background: #edfaff;
  border-radius: 50px;
  width: 100%;
  color: #0099FF;
  border: 1px solid #0099FF;
}

.btn:disabled {
  padding: 10px 22px;
  background: #D3DEE5;
  border-radius: 50px;
  color: #FFFFFF;
}

.sub-title {
  font-size: 15px;
}

.hidden-row {
  display: none;
}

.border-hover:hover {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.trial-text {
  display: flex;
  align-items: center;
  height: 512px;
}

#captcha {
  margin: 30px 0px;
}

#captcha .preview {
  color: #555;
  width: 100%;
  text-align: center;
  height: 100px;
  background-color: #E2F3FF;
  line-height: 84px;
  letter-spacing: 8px;
  border-radius: 0.5em;
  margin-bottom: 1.6em;
}

.form_input_captcha {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  border: 0.1em solid #dadce0;
  border-radius: 0.5em;
  outline: none;
  padding: 1em;
  z-index: 1;
  background: none;
}

.form_input_captcha:focus + .form_label_captcha {
  top: 4.7em;
  left: 0.8em;
  color: rgb(28, 164, 248);
  font-size: 0.8em;
  font-weight: 600;
  z-index: 5;
}

.form_input_captcha:not(:-moz-placeholder-shown).form_input_captcha:not(:focus) + .form_label_captcha {
  top: 4.6em;
  left: 0.8em;
  font-size: 0.8em;
  font-weight: 600;
  z-index: 5;
}

.form_input_captcha:not(:placeholder-shown).form_input_captcha:not(:focus) + .form_label_captcha {
  top: 4.6em;
  left: 0.8em;
  font-size: 0.8em;
  font-weight: 600;
  z-index: 5;
}

.form_input_captcha:focus {
  border: 0.1em solid rgb(28, 164, 248);
}

#captcha .preview span {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#captcha .captcha_form .captcha_refersh {
  color: #4a6fff;
}

.captcha_refersh {
  transition: 0.4s;
}

.captcha_refersh:hover {
  transition: 0.4s;
  cursor: pointer;
  transform: scale(0.9);
}

.bg-light {
  background: #C2E0F4;
  min-height: 100vh;
}

.img-bg {
  background: linear-gradient(135.84deg, #55BBFF 0.73%, #FFECA9 100.54%);
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0099FF;
}
h6 .sub-title2 {
  padding-left: 16px;
  font-size: 14px;
  color: #5E7683;
}

.title {
  font-family: "Trap";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #001F33;
  mix-blend-mode: normal;
  padding-top: 2rem;
}

ul {
  padding-top: 2rem;
}

ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5E7683;
  padding-top: 8px;
}

.righ-content {
  padding-left: 1.5rem;
}

.btn-next {
  padding: 10px 22px;
  width: 100%;
  background: #0099FF;
  border-radius: 50px;
  margin-top: 50px;
  color: #fff;
}

.btn-next:hover {
  padding: 10px 22px;
  width: 100%;
  background: #3033d1;
  border-radius: 50px;
  margin-top: 50px;
  color: #fff;
}

footer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  color: #93A7B4;
  padding-top: 115px;
}

.btn-back {
  padding: 10px 22px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 50px;
  margin-top: 50px;
  color: #0099FF;
  border: 1px solid #0099FF;
}

.btn-back:hover {
  padding: 10px 22px;
  width: 100%;
  background: rgba(206, 217, 218, 0.76);
  border-radius: 50px;
  margin-top: 50px;
  color: #0099FF;
  border: 1px solid #0099FF;
}

.loading-box {
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.signin-bg {
  min-height: 100vh;
  position: relative;
  padding: 15px 30px;
  background: linear-gradient(0deg, rgba(0, 153, 255, 0.6390931373) 0%, rgba(248, 212, 85, 0.72) 100%), url(../img/Shape.png) top left repeat;
  z-index: 999;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.signin-bg h3 {
  width: 465px;
  font-family: "Trap";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 62px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  mix-blend-mode: overlay;
  position: absolute;
  top: 37%;
}
.signin-bg p {
  position: absolute;
  bottom: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.reset-btn {
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  color: #0099FF;
  border: none;
}

.bg-padding {
  padding: 2.5rem;
}

.rec-shape {
  position: absolute;
  left: 0;
  bottom: 15%;
}

.mandatory:after {
  color: #e32;
  content: " *";
  display: inline;
}

@media screen and (max-width: 600px) {
  .hidden-row {
    display: block;
  }
  .logo {
    display: none;
  }
  .logo-display {
    display: block;
  }
  .left-bg-img {
    min-height: 35vh;
    position: relative;
    padding: 15px 30px;
    background: url(../img/graphics-login-web.png) top left repeat;
    background-repeat: repeat;
    background-size: auto;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center right;
  }
  .left-bg-img .back-to-website {
    display: none;
  }
  .left-bg-img h3 {
    width: 234px;
    font-family: Trap, Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #E2F3FF;
    mix-blend-mode: normal;
  }
  .left-bg-img .side-text {
    position: absolute;
    top: 70%;
  }
  .left-bg-img h6 {
    display: none;
  }
  .left-bg-img p {
    display: none;
  }
  .right-form {
    padding: 5px;
  }
  .right-form .acknowledge {
    font-size: 0.7rem;
  }
  .trial-text {
    display: flex;
    align-items: center;
    height: 325px;
  }
  .center-text h6 {
    color: #495B67;
  }
  .free-trail h3 {
    font-size: 24px !important;
  }
  .hidden-padding {
    padding: 15px !important;
  }
  .bg-padding {
    padding: 1.5rem;
  }
  .p-mobile-0 {
    padding: 0rem !important;
  }
  .righ-content {
    padding-left: 0rem;
    margin-top: 1rem;
  }
  .righ-content .sub-title2 {
    display: none;
  }
  .righ-content .title {
    font-family: "Trap";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #001F33;
    mix-blend-mode: normal;
    padding-top: 1rem;
  }
  .righ-content ul {
    padding: 1rem 1rem;
  }
  .btn-next {
    padding: 10px 22px;
    width: 100%;
    background: #0099FF;
    border-radius: 50px;
    margin-top: 15px;
    color: #fff;
  }
  .btn-back {
    margin-top: 15px;
  }
  footer p {
    padding-top: 30px;
  }
  .signin-bg h3 {
    width: 85%;
    font-family: "Trap";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    mix-blend-mode: overlay;
    position: absolute;
    top: 35%;
  }
  .signin-bg p {
    display: none;
  }
  .signin-bg {
    min-height: 45vh;
    position: relative;
    padding: 15px 30px;
    background: linear-gradient(0deg, rgba(0, 153, 255, 0.6390931373) 0%, rgba(248, 212, 85, 0.72) 100%), url(../img/Shape.png) top left repeat;
    background-repeat: repeat;
    background-size: auto;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 15px 15px;
  }
  .rec-shape {
    position: absolute;
    left: 0;
    bottom: 23%;
    width: 41%;
  }
  .tagline a {
    display: none !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  .bg-padding {
    padding: 0.5rem !important;
  }
  .righ-content {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  .left-bg-img {
    min-height: 50vh;
    position: relative;
    padding: 15px 30px;
    background: url(../img/graphics-login-web768.jpg) top left repeat;
    background-repeat: repeat;
    background-size: auto;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .left-bg-img .side-text {
    position: absolute;
    top: 36%;
  }
  .left-bg-img .side-text h3 {
    font-family: Trap, Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #E2F3FF;
    mix-blend-mode: normal;
    padding-bottom: 52px;
  }
  .left-bg-img .logo-top-0 {
    padding-top: 0px !important;
  }
  .left-bg-img h6 {
    position: absolute;
    width: 552px;
    top: 85%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #55BBFF;
  }
  .left-bg-img p {
    display: none;
  }
  .trial-text {
    display: flex;
    align-items: center;
    height: 400px;
    text-align: center;
  }
  .right-form .logo {
    text-align: center;
  }
  .right-form .form-title {
    text-align: center;
  }
  .right-form p {
    text-align: center;
  }
  .right-form .btn-align {
    justify-content: center;
  }
  .signin-bg {
    min-height: 50vh;
    position: relative;
    padding: 15px 30px;
    background: linear-gradient(0deg, rgba(0, 153, 255, 0.6390931373) 0%, rgba(248, 212, 85, 0.72) 100%), url(../img/Shape.png) top left repeat;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center left;
  }
  .signin-bg h3 {
    width: 465px;
    font-family: "Trap";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    mix-blend-mode: overlay;
    position: absolute;
    top: 48%;
  }
  .tagline {
    text-align: center;
  }
  .align-captcha {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
  .left-bg-img {
    background-image: url(../img/graphics-login-web.jpg);
    background-size: cover;
    min-height: 50vh;
    padding: 45px 35px 90px;
    background-position: center left;
  }
  .side-text {
    position: absolute;
    top: 45%;
  }
  .side-text h3 {
    font-family: Trap, Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 4.538rem;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #E2F3FF;
    mix-blend-mode: normal;
    padding-bottom: 14px;
  }
  .right-form .form-title {
    text-align: center;
  }
  .right-form p {
    text-align: center;
  }
  .right-form .logo {
    text-align: center;
    margin-top: -25px;
  }
  .right-form .btn-align {
    justify-content: center;
  }
  .trial-text {
    display: flex;
    align-items: center;
    height: 400px;
    text-align: center;
  }
  .align-captcha {
    justify-content: center;
  }
  .righ-content {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  .bg-padding {
    padding: 0.5rem !important;
  }
  .signin-bg {
    min-height: 50vh;
    position: relative;
    padding: 15px 30px;
    background: linear-gradient(0deg, rgba(0, 153, 255, 0.6390931373) 0%, rgba(248, 212, 85, 0.72) 100%), url(../img/Shape.png) top left repeat;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .rec-shape {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 30%;
  }
  .signin-bg h3 {
    width: 465px;
    font-family: "Trap";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    mix-blend-mode: overlay;
    position: absolute;
    top: 48%;
  }
  .tagline {
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .left-bg-img {
    background-image: url(../img/graphics-login-web.jpg);
    background-size: cover;
    min-height: 100vh;
    padding: 25px 40px;
  }
  .img-text {
    position: relative;
    overflow: hidden;
  }
  .img-text a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 19px;
  }
  .side-text {
    position: absolute;
    top: 40.5%;
  }
  .side-text h3 {
    font-family: Trap, Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 5.5375rem;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #E2F3FF;
    mix-blend-mode: overlay;
    padding-bottom: 57px;
  }
  .side-text h6 {
    font-family: "Poppins";
    width: 552px;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #55BBFF;
  }
  .side-text p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: -133px;
  }
  .mb-10 {
    margin-bottom: 100px;
  }
  .signin-bg {
    min-height: 100vh;
    position: relative;
    padding: 15px 30px;
    background: linear-gradient(0deg, rgba(0, 153, 255, 0.6390931373) 0%, rgba(248, 212, 85, 0.72) 100%), url(../img/Shape.png) top left repeat;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .rec-shape {
    position: absolute;
    left: 0;
    bottom: 15%;
  }
  .signin-bg h3 {
    width: 465px;
    font-family: Trap, Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 62px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    mix-blend-mode: overlay;
    position: absolute;
    top: 32%;
  }
}
@media only screen and (min-width: 1440px) {
  .left-bg-img {
    background-image: url(../img/graphics-login-web.jpg);
    background-size: cover;
    min-height: 100vh;
    padding: 25px 60px;
  }
  .img-text {
    position: relative;
    overflow: hidden;
  }
  .img-text a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 19px;
  }
  .side-text {
    position: absolute;
    top: 39.9%;
  }
  .side-text h3 {
    font-family: Trap, Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 5.5375rem;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #E2F3FF;
    mix-blend-mode: overlay;
    padding-bottom: 57px;
  }
  .side-text h6 {
    font-family: "Poppins";
    width: 552px;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #55BBFF;
  }
  .side-text p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: -150px;
  }
  .mb-10 {
    margin-bottom: 100px;
  }
  .signin-bg h3 {
    width: 465px;
    font-family: "Trap";
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 62px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    mix-blend-mode: overlay;
    position: absolute;
    top: 31%;
  }
  .rec-shape {
    position: absolute;
    left: 0;
    bottom: 30%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .side-text h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #55BBFF;
    padding-bottom: 20px !important;
  }
}
@media only screen and (orientation: landscape) {
  .left-bg-img {
    background-image: url(../img/graphics-login-web.jpg);
    background-size: cover;
    min-height: 110vh;
  }
  .signin-bg {
    min-height: 100vh;
    position: relative;
    padding: 15px 30px;
    background: linear-gradient(0deg, rgba(0, 153, 255, 0.6390931373) 0%, rgba(248, 212, 85, 0.72) 100%), url(../img/Shape.png) top left repeat;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */